.main-outer{
    width: 100%;
    height: 100vh;
    background-color: #bdc3c7;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.round{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100%;
}
.top-round-1{
    background-color: #F24937;
    left: -30px;
    top: -30px;
    z-index: 1;
}
.top-round-2{
    background-color: #D12813;
    left: -20px;
    top: -32px;
}
.bottom-round-1{
    background-color: #F24937;
    right: -30px;
    bottom: -30px;
    z-index: 1;
}
.bottom-round-2{
    background-color: #D12813;
    right: -20px;
    bottom: -32px;
}
/*login-outer*/
.inner{
    width: 85%;
    height: 85%;
    background-color: white;
    position: relative;
    z-index: 5;
    border-radius: 10px;
    display: flex;
}
.context{
    flex: 1;
}
/*left side area*/
.data-wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.welcome-text{
    text-align: center;
}
.logo-name-outer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo-name-outer>img{
    margin-right: 10px;
}
.login-component-outer{
    width: 100%;
    height: 50px;
    border: 1px solid red;
    padding: 0 40px;
}
/*left side area*/
/*right side area*/
.right{
    background-image: url("https://img.freepik.com/free-photo/abstract-blur-defocused-restaurant-coffee-shop-cafe-interior_1203-9331.jpg?w=740&t=st=1667643925~exp=1667644525~hmac=747b1debecde7d52c6aed601e653b5f725976c8b8a876878aca40c20295eb27d");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.data{
    position: relative;
    z-index: 1;
}
.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo>img{
    width: 100px;
}
.title{
    color: white;
    font-weight: bold;
    text-align: center;
}
.desc{
    padding: 0px 20px;
    color: white;
    text-align: justify;
    margin-bottom: 95px;
}
.bottom-data{
    display: flex;
    justify-content: space-between;
}
.bottom-data>p{
    color: white;
    padding: 0 20px;
}
/*right side area*/
/*login-outer*/